@media (width <= 768px) {
    .slider {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .slider .img {
        margin-bottom: 30px;
        width: 250px;
        max-width: 100%;
    }

    .slider .container {
        padding: 0 40px 0 40px;
    }

    .slider .container .description {
        font-size: 21px;
    }

    .btns {
        top: 380px;
    }
}